* {
    padding: 0%;
    margin: 0%;
}
.crm-navbar-container {
    border-bottom: 1px solid #e5e5e5;
    /* background: #3498db;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: 100vw;
    height: 8vh;
    display: flex;
    position: relative;
    z-index: 1000;
}
.crm-navbar-container .crm-navbar-inner {
    border-bottom: 1px solid #e5e5e5;
    background: #3498db;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 85vw;
    padding: 0 0 0 15vw ;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
   
}
.crm-navbar-container .crm-navbar-options {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.home-login {
  position: absolute;
  top: 0%;
  right: 0px;
  width: 100vw;
  height: 100vh;
  display: none;
  background: rgba(0,0,0,0.5);
  backdrop-filter: saturate(10%) blur(0.1px);
}
.login {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 100vh;
  top: 0px;
  right: 0px;
  background: rgba(0,0,0,0.7);
  backdrop-filter: saturate(180%) blur(10px);
  color: white;
  overflow-y: scroll;
}
.login img {
  width: 200px;
  height: 400px;
}
.login-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.login #in {
  width: 300px;
  height: 30px;
  border-radius: 50px;
}
.login #form p {
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 50px;
}

.crm-navbar-inner img{
    width: 120px;
    height: 60px;
    margin-right: 25vw;
}
.home-btn {
    width: 150px;
    height: 40px;
    /* background-color: rgb(255, 135, 60); */
    margin-left: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    border-style: solid;
    border-width: 0.2px;
    border-color: #75bcec;
    color: #e5e5e5;
}
.home-btn:hover{
    border-radius: 20px;
    /*background: white;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.crm-signup-container {
    width: 80vw;
    height: 92vh;
    display: flex;
    padding: 0vh 10vw;
    /* background-color: #292c2f; */
}
.crm-signup-container .crm-slideshow {
    width:40vw;
    height: 60vh;
    margin-top: 15vh;
    /* background-color: red; */
}
.swiper {
    width:40vw;
    height: 60vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }

.crm-signup-container .crm-signup-inner {
    width:40vw;
    height: 78vh;
    /* background-color: red; */
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 5vh 8vw;
    display:block;
    overflow-y: scroll;
    background: linear-gradient(rgb(168, 247, 247),white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.forms p{
    font-size: 18px;
    margin-bottom: 10px;
}
.forms #crm-signin {
    width: 24vw;
    height: 4vh;
    border-radius: 5px;
    margin-bottom: 15px;
    /* background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

footer{

	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}