*{
    padding: 0%;
    margin: 0%;
}
.home-navbar {
    width: 85vw;
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 0 0 0 15vw ;
    position: relative;
}
.home-navbar img{
    width: 120px;
    height: 60px;
    margin-right: 25vw;
}
.home-btn {
    width: 150px;
    height: 40px;
    background-color: rgb(255, 135, 60);
    margin-left: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
}

.home-login {
    position: absolute;
    top: 0%;
    right: 0px;
    width: 100vw;
    height: 100vh;
    display: none;
    background: rgba(0,0,0,0.5);
    backdrop-filter: saturate(10%) blur(0.1px);
    z-index: 10000;
}
.login {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100vh;
    top: 0px;
    right: 0px;
    background: rgba(0,0,0,0.7);
    backdrop-filter: saturate(180%) blur(10px);
    color: white;
    overflow-y: scroll;
}
.login img {
    width: 200px;
    height: 400px;
}
.login-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.login #in {
    width: 300px;
    height: 30px;
    border-radius: 50px;
}
.login #form p {
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 50px;
}

.jobs-container {
    width: 80vw;
    height: 90%;
    padding: 5vh 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.jobs-container .jobs-inner {
    margin-bottom: 30px;
    width: 31vw;
    height: 20vh;
    padding: 2vh 2vw;
    /* border-style: solid; */
    /* border-radius: 5px; */
    /* border-width: 1px; */
    background:linear-gradient(rgb(168, 247, 247),white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-container {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-container {
    width: 100%;
    height: 50vh;
}

.swiper {
    width: 100%;
    height: 50vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }

.addin {
    width: 600px;
    height: 30px;
    border-radius: 50px;
}
.addin .form p {
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 50px;
}

block-block {
    display: block;
    width: 500px;
    padding: 50px;
    background:linear-gradient(rgb(168, 247, 247),white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.client-profile-container {
    width: 50%;
    height: 100%;
    padding: 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.client-profile-container .client-row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
table, th, td {
    padding: 10px;
  }
  
  
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}